// Place all the styles related to the prokers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prokers-controller.index-action {
	
  
  @media only screen and (max-device-width: 628px){
    
    font-size:50px;

  	.card_button .btn{
  		font-size:60px;
  	}
  	h1.title{
  		margin-bottom:45px; 
  		margin-top:45px;
  		font-size: 100px;
  	}

  	h2{
  		font-size: 80px;
  		margin-bottom:40px; 
  		margin-top:40px;
  	}
 
    .shot{
    	margin-bottom:60px; 
  		margin-top:60px;
    	font-size: 28px;
    	.btn-lg{
    		font-size: 60px;
    	}
    }
    .btn.btn-info.seecard{
    	font-size: 50px;
    }
    .table{
    	font-size: 38px;
    }
    .modal-dialog.modal-lg{
	    margin: 300px auto;
	    width: 90%;
    }
    .alert{
    	font-size: 60px;
    }
  }
}